admin/
App_Browsers/
App_Data/
App_GlobalResources/
bin/
Components/
Config/
controls/

DesktopModules/AuthenticationServices/
DesktopModules/Connectors/
DesktopModules/CoreMessaging/
DesktopModules/DDRMenu/
DesktopModules/DigitalAssets/
DesktopModules/HTML/
DesktopModules/Journal/
DesktopModules/MemberDirectory/
DesktopModules/RazorModules/
DesktopModules/SiteExportImport/
DesktopModules/SocialGroups/


Documentation/
Icons/
images/
Install/
js/
Licenses/
Portals/
Providers/
Resources/

403-3.gif
compilerconfig.json
Default.aspx
DNN.ico
DotNetNuke.config
DotNetNuke.log4net.config
ErrorPage.aspx
favicon.ico
Global.asax
jquery.min.map
KeepAlive.aspx
Robots.txt
SiteAnalytics.config